name: Continuous

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: "windows-2022"
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: cargo build --release --verbose
      - name: Create Release
        id: create_release
        uses: shogo82148/actions-create-release@v1

      - uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: 'target/release/omsi-elevate.exe'
